*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

.navbar-collapse{
    display: flex;
    justify-content: space-around;
}

/*--------Hero Section------------*/
.hero-section{
    /*
    background-image: url(/img/hero/spacejoy-9M66C_w_ToM-unsplash\ 1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;-----*/
}
.hero-btn{
    padding: 8px 25px;
    border-radius: 25px;
    background-color: black;
    color: white;
}
.hero-box{
    text-align: center;

}

/*------Latest work----------*/
.latest-heading{
    text-align: center;
}

/*-------Testimonial section-------*/
.testimonial-sec{
    background-color: #494949;
}
.testimonial-box{
    display: flex;
    justify-content: center;
    align-items:center ;
    flex-direction: column;
    color: #f6f6f6;
}

/*--------Contact----------*/
.contac-container{
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}
.form-box{
   width: 50vw;
   height: 100vh;
}

.form-box h2{
    text-align: center;
}

.form-row{
   display: flex;
   justify-content: center;

}
.input-60{
    width: 59%;
    margin-left: -36px;
}
.text-area{
    width: 100%;
}
.form-btn{
    

}

/*-------footer Box--------*/
.footer-sec{
    background-color: #dadada;
}
.footer-box{
    display: flex;
    justify-content: space-around;
}


/*==========Portfolio Section===========*/
.trust-Section{
    background-color: #494949;
}
.circle{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: black;
    color: #f6f6f6;
}
.work-row{
    display: flex;
}
    
/*==============Furniture====================*/
.sqare{
    width: 50px;
    height: 50px;
    border-radius: 10%;
    background-color:#b9b6b6;
    color: #f6f6f6;
    display: flex;
    justify-content: center;
    align-items: center;
}
.count-row{
    justify-content: center;
}
.squre-col{
    display: flex;
    justify-content: center;
}

/*==========About Section============*/
.History-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 63vh;
    background-color: orangered;
}

.Team-row{
    justify-content: space-around;
    align-items: center;
}
.Team-row p{
    text-align: center;

}
.Team-row h2{
    text-align: center;
}

/*===========Testimonial Section==============*/
.testimonial-section{
    background-color: #494949;
}
.circle-box{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;    
}
.testimonial-row{
    display: flex;
    justify-content: center;
    align-items: center;
}
.testimonial-row p{
    text-align: center;
    color: #e0e0e0;
}